<div class="col-sm-3">
    <div *ngIf="!task.deleted" class="card" (click)="statusToggle()" [class.completed]="task.completed">
        <div class="card-block">
            <p><i id="delete" (click)="deleteTask()" class="fa fa-times-circle" aria-hidden="true"></i>{{ task.content }}</p>
        </div>
        <div class="card-footer">
            <span *ngIf="!task.completed" ><i class="fa fa-times" aria-hidden="true"></i>Not Complete</span>
            <span *ngIf="task.completed" ><i class="fa fa-check" aria-hidden="true"></i>Complete</span>
            <span *ngIf="task.deleted" ><i class="fa fa-check" aria-hidden="true"></i>Deleted</span>
        </div>
    </div>
</div>